#resources {
  float: left;
  width: 50%;
  height: 50px;
}

#upgrades {
  float: left;
  width: 50%;
  heigh: 50px;
}

#bamboo {
  line-height: 12px;
}

#plant1 {
  float: left;
  width: 100px;
  margin-right: 2px;
}

#plant2 {
  float: left;
  width: 100px;
  margin-right: 2px;
}

#plant3 {
  float: left;
  width: 100px;
  margin-right: 2px;
}

#plant4 {
  float: left;
  width: 100px;
  margin-right: 2px;
}

#plant5 {
  float: left;
  width: 100px;
  margin-right: 2px;
}
