#bamboo {
line-height:12px;
}

#plant1 {
  float: left;
  width: 160px;
  margin-right: 10px;
}

#plant2 {
  float: left;
  width: 160px;
  margin-right: 10px;
}

#plant3 {
  float: left;
  width: 160px;
  margin-right: 10px;
}

#plant4 {
  float: left;
  width: 160px;
  margin-right: 10px;
}

#plant5 {
  float: left;
  width: 160px;
  margin-right: 10px;
}
