#header {
  text-align: center ;
}
#column1 {
  float: left ;
  width: 200px ;
}
#column2 {
  margin-left: 10px;
  float: left;
  width: 200px;
}
#column3 {
  margin-left: 10px;
  float: left;
  width: 200px;
}
h2{
  line-height: 70%;
  font-size: 25px;
  text-decoration: underline;
  font-weight: normal;
}
